/* Fiche de style CSS */


/* Sélecteur d'élément */
body {
  background-image: url('Background numéro 1.jpg');
  transition: background-image 1s ease-in-out;
  animation: background-slide x linear infinite;
  background-size: cover; /* Ajuste la taille de l'image pour remplir tout l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image en arrière-plan (optionnel) */
}

body.change-bg {
  background-image: url('background2.jpg');
}

/* Sélecteur de classe */
.texte-rouge {
    color: rgb(255, 0, 0); /* Couleur du texte */
}

/* Sélecteur d'ID */
#conteneur-principal {
    width: 80%; /* Largeur du conteneur principal */
    margin: auto; /* Centrer le conteneur principal */
}

/* Sélecteur de pseudo-classe */
a:hover {
    color: orange; /* Couleur des liens au survol */
}

h1 {
  background-color: rgba(255,137,17,0.6);
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  width: calc(30ch + 60px);
}

table {
  border-collapse: collapse;
}

td, th {
  border: none;
}

p {
  background-color: rgba(243,85,85,0.6);
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  width: 500px;
}

p.bulle {
    background: rgba(31,230,0,0.7); /* Couleur de fond */
    border-radius: 10px; /* Bordures arrondies */
    padding: 10px; /* Espace intérieur */
    word-wrap: break-word;
    width: 500px;
}

p.bulle2 {
    background: rgba(24,50,252,0.6); /* Couleur de fond */
    border-radius: 10px; /* Bordures arrondies */
    padding: 10px; /* Espace intérieur */
    word-wrap: break-word;
    width: 500px;
}

h3 {
  background-color: rgba(101,255,77,0.7);
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  width: 500px;
}

td.align-top {
    vertical-align: top;
}

td.align-left {
  horizontal-align: left;
}

.button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
}

.button1 {
  background-color: white; 
  color: black; 
  text-decoration:none;
  border: 2px solid #008CBA;
}
a {
  text-decoration:none;
}
.button1:hover {
  background-color: #008CBA;
  color: white;
}

header {
	background-color: black;
	color: black;
	padding: 20px;
}
