/* Fiche de style CSS */

/* Sélecteur d'élément */
body {
  background-image: url("Background-1.jpg");
  background-size: cover; /* Ajuste la taille de l'image pour remplir tout l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image en arrière-plan (optionnel) */
}

/* Sélecteur de classe */
.texte-rouge {
    color: rgb(255, 0, 0); /* Couleur du texte */
}

/* Sélecteur d'ID */
#conteneur-principal {
    width: 80%; /* Largeur du conteneur principal */
    margin: auto; /* Centrer le conteneur principal */
}

/* Sélecteur d'attribut */
a[target="_blank"] {
    background-color: yellow; /* Couleur d'arrière-plan des liens qui s'ouvrent dans un nouvel onglet */
}

/* Sélecteur de pseudo-classe */
a:hover {
    color: orange; /* Couleur des liens au survol */
}

h1 {
  background-color: #ccda00;
  padding: 10px;
  display: inline-block;
  width: calc(30ch + 60px);
}

th, td {
  border-bottom: solid 1px black;
}

p {
  background-color: rgba(243,85,85,0.8);
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  width: 500px;
}

img {
  background-color: #ccda00;
  padding: 10px;
  display: inline-block;
  width: 200px;
}

h2 {
    color: green;
}
